version: "3.8"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: stylero
    volumes:
      - dbdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  backend:
    build: .
    command: npm run dev
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: postgresql://postgres:password@db:5432/stylero?schema=public
      PORT: 4000
      STRIPE_SECRET: ${STRIPE_SECRET}
    depends_on:
      - db
volumes:
  dbdata:
